@model Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post" action="/employee/edit">

    <input type="hidden" name="id" value="@Model.Id" />

    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" value="@Model.Name" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="Age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Age" name="Age" value="@Model.Age" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="Salary" class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Salary" name="Salary" value="@Model.Salary" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="Address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="DeptId" class="col-sm-2 col-form-label">Deparment</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="DeptId" name="DeptId" value="@Model.DeptId" />
        </div>
    </div>

    <input type="submit" class="btn btn-success" />
</form>
<br />
<br />
<a href="/employee/index">Back To Index</a>